<template name="theoryJavaScript">
  <div>
      "What do you like (and dislike) about Node/Javascript compared to other programming languages?"
  </div>
    <div style="margin-top: 3em;">
        <ul class="theory text-success">
            <li>++++</li>
            <li>Short deploy times considering with Java e.g.</li>
            <li>live updates (wysiwyg kind of)</li>
            <li>asynchronous > synchronous</li>
            <li>callbacks over threads</li>
            <li>Easy with websockets</li>
            <li>many tutorials</li>
        </ul>
        <ul class="theory text-danger">
            <li>----</li>
            <li>OOP is not really possible</li>
            <li>not often in production</li>
            <li>--- Insert more 'buzz words' from any blog in the internet here ---</li>
        </ul>
    </div>
</template>