<template name="theoryDesign">
    <div>
        "Why did you pick your particular your design? What assumptions did you make, and what tradeoffs did you consider?"
    </div>
  <div style="margin-top: 3em;">
    <ul class="theory text-primary">
        <li>I chose to built a Single page application.</li>
        <li>Client: Meteor</li>
        <li>Server: Meteor/Node</li>
        <li>DB: MONGODB(local)</li>
        <li>Fast Prototyping</li>
        <li>EASY to install. Just 2 lines of code on any machine!!!!!!!!!!!!!!</li>
        <li>The installation process will ONLY take ~2 mins</li>
        <li>Meteor will setup Mongo for you. Database gets populated automatically</li>
        <li>Isomorphic JavaScript <3</li>
        <li>You start on / route and need to login</li>
        <li>else Gandalph yells at you</li>
        <li>When you are logged in</li>
        <li>you can discover the awesome features</li>
        <li>This app has still a few bugs</li>
        <li>it is only for promotion purposes</li>
        <li>You can still access the whole collection -Try: Orders.find() or Orders.find().count() in browser console</li>
    </ul>
  </div>
</template>