<template name="orderGarbage">
    <div class="container-fluid">
    {{#if orders.count}}
        <div class="text-primary" style="margin: 3em; text-align: center; border: 1px solid dodgerblue">
            <strong>Please delete everything to receive a cool prize.</strong>
        </div>
      {{else}}
    <div class="text-danger" style="margin: 3em; text-align: center; border: 1px solid orangered">
        #ZOMFG! You are so stupid! Now you need to go in your Terminal and press "ctrl +c" and start "meteor" again.
    </div>
    {{/if}}
    </div>
     <table class="table table-hover">
         <thead>
         <tr>
             <th>orderID</th>
             <th>companyName</th>
             <th>customerAdress</th>
             <th>orderedItem</th>
             <th>admin</th>
         </tr>
         </thead>
       {{#each orders}}
           <tbody>
           <tr class="info">
               <td>{{orderID}}</td>
               <td>{{companyName}}</td>
               <td>{{customerAdress}}</td>
               <td>{{orderedItem}}</td>
               <td><button class="delete">&times;</button></td>
           </tr>
           </tbody>
       {{/each}}
     </table>
</template>